body {
    background-color: black;
    
   
}


.top-panel img {
    position: sticky;
    top: 0px;
}



.photoDiv {
    height: 249px;
    width: 200px;
    border-radius: 50%;
    background-color: blanchedalmond;
}

.photoDiv img {
    height: 249px;
    width: 200px;
    border-radius: 50%;
}

.name h1 {
    text-align: center;
}

.title h2 {
    text-align: right;
}



.pageDisplay .left-panel img {
    position: sticky;
    top: 0px;
}

.pageDisplay .right-panel img {
    position: sticky;
    top:0px;
}

.topNav {
    position: sticky;
    top: 0px;
    background-color: rgb(0, 0, 0, .75);
}

.topNav li {
    display: inline;
  
}

.topNav a {
    text-decoration: none;
    color: bisque;
}

.aboutMe p {
    text-align: right;
}

.codingSkills p {
    text-align: right;
}


.certifications {
    text-align: center;
}

.certifications h2 {
    text-align: left;
}

.projects {
    text-align: center;
}

.projects h2 {
    text-align: left;
}

.contact {
    text-align: center;
}

.contact h2 {
    text-align: left;
}


.pageDisplay .mobileNavBar {
    position: sticky;
    bottom: 0px;
}

.mobileNavBar .row   {
    padding-top: 10px;
}

.bottom-panel img {
    object-fit: cover;
}

.buttonSpace img {
    height: 40px;
}

.buttonSpace p {
    font-size: smaller;
}

.buttonSpace {
    background-color: rgb(0, 0, 0, .75);
}

@media only screen 
    and (min-device-width : 450px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape){
     .bottom-panel img {
        display: none;
    }
}

