body {
    background-color: #030204;
    color: #99715d;
   
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
      
      
    
   
}

body h1 {
    color: blanchedalmond;
    font-family: "Love Light", cursive;
    font-weight: 400;
    font-style: normal;
    
}

body h2 {
    color: #c7816d;
    
        font-family: "Love Light", cursive;
        font-weight: 400;
        font-style: normal;
    
      
}

.top-panel img {
    position: sticky;
    top: 0px;
}



.photoDiv {
    height: 249px;
    width: 200px;
    border-radius: 50%;
    background-color: #82933f;
}

.photoDiv img {
    margin-left: 6px;
    margin-top: 15px;
    height: 215px;
    border-radius: 98px;
    border: solid,  #99715d, 2px;
}

.hero-space .photoDiv img {
    margin-left: 6px;
    margin-top: 15px;
    height: 215px;
    border-radius: 98px;
    border: solid,  #99715d, 2px;
}

.photo-Space {
    padding-top: 16px;
}

.name h1 {
    text-align: center;
    font-size: xxx-large;
}

.title h2 {
    text-align: center;
    font-size:xx-large;
}

.pageDisplay .middle-panel .topNav{
    position: sticky;
    top: 0px;
    text-align: center;
}

.topNav ul a li {
    padding-left: 10px;
    font-size: xx-large;
}

.pageDisplay .left-panel img {
    position: sticky;
    top: 0px;
}

.pageDisplay .right-panel img {
    position: sticky;
    top:0px;
}

.hero-space {
    border: solid, blanchedalmond,2px;
    
}

.name-title {
    text-align: center;
}

.topNav {
    position: sticky;
    top: 0px;
    background-color: rgb(0, 0, 0, .75);
}

.topNav li {
    display: inline;
    font-size: xx-large;
  
}

.topNav a {
    text-decoration: none;
    color: bisque;
}



.aboutMe p {
    text-align: right;
}

.aboutMe h2 {
    padding-top: 65px;
    padding-bottom: 32px;
    font-size: xxx-large;
    
}

.codingSkills h2 {
    padding-top: 65px;
    padding-bottom: 32px;
    font-size: xxx-large;
}

.certifications h2 {
    padding-top: 65px;
    padding-bottom: 32px;
    font-size: xxx-large;
}

.projects h2 {
    padding-top: 65px;
    padding-bottom: 32px;
    font-size: xxx-large;
}

.contact h2 {
    padding-top: 65px;
    padding-bottom: 32px;
    font-size: xxx-large;
}

.codingSkills p {
    text-align: right;
}


.certifications {
    text-align: center;
}

.certifications h2 {
    text-align: left;
}

.certifications  p{
    margin-bottom: 60px;
}

.certifications img {
    
    border: solid, #99715d, 7px;
}

.projects {
    text-align: center;
}

.projects h2 {
    text-align: left;
}

.projects img {
   
    border: solid, #99715d, 7px;
}



.contact {
    text-align: center;
}

.contact h2 {
    text-align: left;

}

.contact img {
    height: 40px;
    padding-right: 10px;
    
}


.pageDisplay .mobileNavBar {
    position: sticky;
    bottom: 0px;
    color: #82933f;
}

.mobileNavBar .row   {
    padding-top: 10px;
}

.social-links{
    background-color: #c7816d
}

.bottom-panel img {
    object-fit: cover;
}

.buttonSpace img {
    height: 40px;
}

.buttonSpace p {
    font-size: smaller;
}

.buttonSpace {
    background-color: rgb(0, 0, 0, .75);
}

span {
    font-weight: 600;
}

@media only screen 
    and (min-device-width : 450px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape){
     .bottom-panel img {
        display: none;
    }
}

@media (min-width: 768px) {
    .aboutMe h2{
        font-size: 80px;
    }

    .aboutMe p {
        font-size: x-large;
    }

    .codingSkills h2 {
        font-size: 80px;
    }

    .codingSkills p {
        font-size: x-large;
    }

    .certifications h2 {
        font-size: 80px;
        
    }

    .certifications p {
        font-size: x-large;
    }

    .certifications h3 {
        font-size: xx-large;
    }

    .projects h2 {
        font-size: 80px;
    }

    .projects p {
        font-size: x-large;
    }

    .projects h3 {
        font-size: xx-large;
    }

    .contact h2 {
        font-size: 80px;
    }

    
}

@media (min-width: 1024px) {
    .topNav li {
        font-size: large;
    }
    
    .certifications h3 {
        font-size: x-large;
    }

    .projects h3 {
        font-size: x-large;
    }

    .projects p {
        font-size: large;
    }
}
